.Content{
    width: calc(100% - 250px);
    margin-left: 250px;
}

.hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.hv-center svg {
    width: 80%;
}

.isCherry{
    color: #ff073a;
}

.isBlue {
    color: #007bff;
}

.isGreen {
    color: #28a745;
}

.isGrey {
    color: #6c757d;
}

.isCherryBg {
    background-color: #ff073a;
}

.isBlueBg {
    background-color: #007bff;
}

.isGreenBg {
    background-color: #28a745;
}

.isGreyBg {
    background-color: #6c757d;
}

.cm-card-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    padding: 0 10px;
    text-align: center;
}