.Content{
    width: calc(100% - 250px);
    margin-left: 250px;
}

.hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.hv-center svg {
    width: 80%;
}

.isCherry{
    color: #ff073a;
}

.isBlue {
    color: #007bff;
}

.isGreen {
    color: #28a745;
}

.isGrey {
    color: #6c757d;
}

.isCherryBg {
    background-color: #ff073a;
}

.isBlueBg {
    background-color: #007bff;
}

.isGreenBg {
    background-color: #28a745;
}

.isGreyBg {
    background-color: #6c757d;
}

.cm-card-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    padding: 0 10px;
    text-align: center;
}

table th {
    position: sticky;
    top: 0;
}

.cm-card-head {
    font-size: 25px;
    padding: 15px 0;
    margin: 0;
    font-weight: normal;
}

.cm-two-card-eq > .container {
    display: flex;
}

.cm-two-card-eq > .container > div {
    width: 50%;
    padding-right: 7.5px;
}

.cm-two-card-eq > .container > div + div {
    padding-right: 0;
    padding-left: 7.5px;
}

.cm-two-card-eq .container .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.cm-sortTable-container .cm-card-container,
.full-width-height .cm-card-container {
    padding-bottom: 15px;
}

.full-width-height h3 {
    margin: 0;
    padding: 10px 0 0;
    font-weight: 500;
    font-size: 18px;
}

.cm-card-item-wrapper {
    width: calc(25% - 20px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    padding: 0 10px;
    text-align: center;
}

canvas.chartjs-render-monitor {
    width: 100%;
}